name: 'Publish Release'
on:
  workflow_dispatch:
  push:
    branches:
      - "releases/*"
    paths:
      - 'tasks/akeyless-secrets/src/**/*'

env:
  NODE_OPTIONS: "--max_old_space_size=4096"

permissions:
  packages: write
  contents: write

jobs:
  build-and-package:
    runs-on: windows-latest
    name: Prepare and Package
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: "Prepare code & run tests"
      working-directory: '${{github.workspace}}\tasks\akeyless-secrets'
      run: npm run precommit

    - name: "Package and publish AzDO extension"
      run: |
        $ErrorActionPreference = 'Stop'

        # -1- Install CLI (https://github.com/microsoft/tfs-cli/blob/master/docs/extensions.md)
        npm i -g tfx-cli

        # -2- Login
        npx tfx login --service-url "https://marketplace.visualstudio.com/" --auth-type pat --token $env:MARKETPLACE_PAT

        # -3- Package the extension (do NOT auto-bump the version here)
        npx tfx-cli extension create --manifest-globs ./vss-extension.json

        # -4- Publish to marketplace
        npx tfx extension publish --vsix LancelotSoftware.akeyless-extensions-*.vsix
      env:
        MARKETPLACE_PAT: ${{secrets.MARKETPLACE_PAT}}

    - uses: actions/upload-artifact@v4
      name: "Attach Artifact"
      with:
        name: lancelotsoftware.akeyless-secrets
        path: "**/*.vsix"
        retention-days: 10
